

<div class="game-detail-card">
    <div class="game-detail-image">
        <img src="{{asset('images/user_images/' ~ projects.image_path)}}" alt="{{projects.name}}">
    </div>

    {# <div class="game-detail-content">
        <h1 class="game-title">{{game.title}}</h1>
        <div class="game-consoles mb-3">
        {% for console in consoles %}
        <span class="console-badge">{{console.label}}</span>
        {% endfor %}

        </div>

        <div class="game-info-detail mb-4">
            <div class="info-item">
                <span class="info-label">Date de sortie:</span>
                <span class="info-value">{{date}}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Age recommandé:</span>
                <span class="info-value">
                <img src="{{asset('images/pegi/' ~ game.pegi )}}" alt="{{game.label}}" class="pegi-icon">
                {{game.label}}+
                </span>
            </div>
        </div>

        <div class="game-synopsis mb-4">
            <h2>synopsis</h2>
            <p>{{game.description}}</p>
        </div>

 
        <div class="game-ratings">
            <div class="rating-item">
                <span class="rating-label">Avis Presse</span>
                <div class="rating-value">
                    <span class="rating-stars">
                    {% include "components/_rating_stars.html.twig" with {'rating': game.mediaNote} %}
                    </span>
                    <span class="rating-number">{{game.mediaNote}}/20</span>
                </div>
            </div>
            <div class="rating-item">
                <span class="rating-label">Avis Utilisateur</span>
                <div class="rating-value">
                    <span class="rating-stars">
                    {% include "components/_rating_stars.html.twig" with {'rating': game.userNote} %}
                    </span>
                    <span class="rating-number">{{game.userNote}}/20</span>
                </div>
            </div>
        </div>
    </div> #}
</div>